.métricas{
    display: flex;
    padding: 0 4em;
    height: 30vh;
    margin-bottom: 3em;
}

.métricas__container{
    padding: 0 1em;
}

.métricas__span{
    font-size: 60px;
    font-weight: 600;
    color: var(--red);
}

.métricas__titulo{
    font-size: 18px;
    color: var(--grey900);
    margin: 1em 0;
}

.métricas__paragrafo{
    font-weight: 400;
    color: var(--grey500);
}